.toolbar-icon.toolbar-icon-debugpause-menu-link:before {
  background-image: url("../misc/icons/787878/timer.svg");
}

.toolbar-icon.toolbar-icon-debugpause-menu-link {
  display: block;
  padding-left: 2.75em !important;
  padding: 1em 1.3333em;
  cursor: pointer;
  text-decoration: none;
  color: #565656;
}

.admin-toolbar__menu__hidden,
.admin-toolbar__menu__hidden span {
  height: 39px;
  width: 39px;
}
